.medpage {
  background-color: rgb(255, 255, 255);
}
.medpage .sliderimg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto; /* Adds margin from the top */
  width: 35%;
  max-width: 800px; /* Adjust the max-width as needed */
}

.medpage h3 {
  font-weight: bold;
}
.view-links {
  text-align: center;
  margin-top: 20px;
  color: #45a049;
  text-decoration: none;
  transition: color 0.3s ease;
}

.view-links:hover {
  color: #7ced829d;
}
.mb-5 {
  margin-bottom: 3rem !important;
}
.medpage .card {
  border: none;
}
.image-slide-left .card,
.image-slide-right .card {
  background-color: #0e97b9e5 !important;
}

.image-slide-center .card {
  background-color: white !important;
}

@media (max-width: 768px) {
  .sliderimg {
    width: 100%;
    margin: 50px auto;
  }

  .search-bar .form-control,
  .search-bar .input-group-append .btn {
    border-radius: 10px;
    padding: 10px;
  }

  .card {
    margin-bottom: 1.5rem;
  }
}
