.sliderimg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto; /* Adds margin from the top */
  width: 35%;
  max-width: 800px; /* Adjust the max-width as needed */
}

h3 {
  font-weight: bold;
}

.mb-5 {
  margin-bottom: 3rem !important;
}
.card{
    border: none;
}
.image-slide-left .card,
.image-slide-right .card {
  background-color: #0e97b9e5 !important;
}

.image-slide-center .card {
  background-color: white !important;
}

/* .search-bar {
  margin-bottom: 20px;
}

.search-bar .form-control {
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid #ccc;
}

.search-bar .input-group-append .btn {
  border-radius: 20px;
  background-color: #0e97b9e5;
  color: white;
  border: 1px solid #0e97b9e5;
} */

@media (max-width: 768px) {
  .sliderimg {
    width: 100%;
    margin: 50px auto;
  }

  .search-bar .form-control,
  .search-bar .input-group-append .btn {
    border-radius: 10px;
    padding: 10px;
  }

  .card {
    margin-bottom: 1.5rem;
  }
}
