.medicine-section {
  padding: 40px 0;
  background-color: #ccf8ff;
}
.medicine-heading {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}
.sliderimg1 {
  display: flex;
  align-items: center;
  max-width: 800px; /* Adjust the max-width as needed */
}
.medicine-description {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
}

.med-btn .btn-primary {
  width: 30% ;
  padding: 10px ;
  border: none ;
  border-radius: 15px ;
  background-color: #4caf4f41 ;
  color: rgb(0 0 0) ;
  cursor: pointer ;
  position: relative ;
}

.btn-primary:hover {
  background-color: #32b839 !important;
  color: azure !important;
}

@media (max-width: 768px) {
  .image-container {
    width: 120px;
    height: 120px;
  }

  .medicine-heading {
    font-size: 28px;
  }

  .medicine-description {
    font-size: 16px;
  }

  .btn-primary {
    width: 50% !important;
  }
}
