.signup-card {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
  border: none;
  width: 100%;
  max-width: 500px;
  padding: 30px;
}

.signup-card-body {
  padding: 2rem;
}

.signup-card-title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 2rem;
  color: #000000;
  text-align: center;
}

.signup-form-group label {
  font-weight: bold;
  color: #495057;
  margin-bottom: 5px;
  display: block;
}

.signup-form-control {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  background: #f8f9fa;
  transition: all 0.3s;
}

.signup-form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  background: #ffffff;
}

.signup-form-check-label {
  font-weight: normal;
  color: #495057;
  margin-left: 0.3rem;
}

.signup-form-check-input:checked ~ .signup-form-check-label {
  font-weight: bold;
  color: #007bff;
}

.signup-btn {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  width: 100%;
  margin-top: 1rem;
}

.signup-btn:hover {
  background-color: rgba(76, 175, 80, 0.2);
  transform: translateY(-3px);
}

.signup-alert-danger {
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  background-color: #dc3545;
  color: #ffffff;
  padding: 1rem;
}
